.regulations {
    display: none;
}

.regulations-menu {

    min-height: 250px;
    width: 60%;
    border: 3px solid black;
    margin: auto;
    background: linear-gradient(0deg, rgba(189, 171, 90, 1) 0%, rgba(253, 250, 45, 1) 100%);
    text-align: center;
    position: absolute;
    top: 150px;
    right: 20%;
}

.regulations img {
    position: absolute;
    top: 135px;
    right: 19%;
    z-index: 1;
}

.activ {
    display: block;
}